apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: canary-demo
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: canary-demo
  template:
    metadata:
      labels:
        app: canary-demo
    spec:
      containers:
      - name: app
        image: nginx:latest
        ports:
        - containerPort: 80

  strategy:
    canary:
      # REQUIRED FOR TRAFFIC ROUTING
      stableService: canary-demo-stable
      canaryService: canary-demo-preview

      # Canary steps
      steps:
        - setWeight: 20
        - pause: { duration: 30 }
        - setWeight: 50
        - pause: { duration: 30 }
        - setWeight: 100
